/* Media Queries for Mobile Devices */
@media screen and (max-width: 980px) {
    h1 {
        font-size: 4vh;
    }

    h4 {
        font-size: 2.5vh;
    }

    .header {
        padding-top: 2vh;
        padding-bottom: 1vh;
    }

    .btn-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2vh;
        padding-top: 4vh;
        padding-left: 8vh;
    }

    button {
        height: 20vh;
        width: 20vh;
        font-size: 2vh;
    }

    img {
        width: 15vh;
    }

    img.paper {
        width: 10vh;
    }

    img.scissors {
        width: 13vh;
    }

    img.finish {
        width: 10vh;
    }

    .versus {
        margin: 5vh 0;
        font-size: 2.5vh;
    }

    .battle-display {
        flex-direction: column;
        align-items: center;
        padding-top: 2vh;
    }

    .side {
        width: 80vw;
        margin-bottom: 3vh;
    }

    .container {
        height: auto;
        padding-bottom: 10vh;
    }
}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 3.5vh;
    }

    .side h1 {
        font-size: 2vh;
    }

    h4 {
        font-size: 2vh;
    }

    .btn-container {
        grid-template-columns: 1fr;
    }

    button {
        height: 12vh;
        width: 12vh;
        font-size: 1.8vh;
    }

    img {
        width: 12vh;
    }

    img.paper, img.finish {
        width: 8vh;
    }

    img.scissors {
        width: 10vh;
    }

    .versus {
        font-size: 2vh;
    }
}
